body {
  background: rgb(2,163,161);
background: linear-gradient(80deg, rgba(2,163,161,1) 0%, rgba(64,186,125,1) 60%);
}

@font-face {
  font-family: 'Membra';
  src: url(./membra.ttf);
}

.title {
  font-family: 'Membra';
  font-size: 72px;
  font-weight: 300;
  color: #05f195;
  text-shadow: 05px 7.5px 3px #00000099;
}

.top {
  box-shadow: 0px 5px 1px #00000099;
}
